.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
  margin: 10px;
}

.portfolio {
  background-color: #61dafb;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  text-align: center;
  color: #282c34;
  font-family: Georgia, 'Times New Roman', Times, serif;
  animation: fadeIn 3s ease-in-out;
  overflow: hidden;
  transform-origin: center;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}



